.content{
    box-sizing: border-box;
    background-color: rgba(26, 26, 26, 0.953);
    margin:10px;
    position: absolute;
    padding: 7px;
    width: 350px;
}
.title{
    font-size: 25px;
    color: #fff;
}
.text{
    color: gray;
}