*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-image: url("/images/crew-background.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  font-family: 'Bruno Ace SC', cursive;
  font-family: 'Varela Round', sans-serif;
}
nav{
  background-color: rgb(255 255 255);
  display: flex;
  align-items: initial;
  position: fixed;
  right: 0;
  left: 0;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: black solid 2px;
  z-index: 100;
  padding-top: 2px;
}
.logo{
  color: #fff;
  font-size: 2em;
  font-family: fantasy;
}
.logo a{
  text-decoration: none;
  color: #9E9E9E;
}
span{
  color: tomato;
}
nav ul li{
  list-style: none;
  display: inline-block;
  padding: 10px;
}
nav ul li a{
  color: #000;
  text-decoration: none;
  font-weight: bold;
  transition: 0.15s;
}
nav ul li a:hover{
  color: #ff5722;
  text-shadow: 0 1px 1px #fff;
  border-bottom: 1px #fff solid;
  padding: 3px;
  font-size: 1.1em;
}
.login-button{
  background: linear-gradient(45deg, #FF5722, #FF9800);
  padding: 10px;
  box-shadow: 0 2px 5px #ff5722ed;
  border-radius: 5px;
  margin: 2px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  color: white;
  transition: 0.5s;
}
.login-button:hover, .login-button a:hover{
  color: tomato;
  border-radius: 5px;
  text-shadow: 1px 1px 0 #000;
}
.section{
  background-color: #ffffff17;
  border-radius: 50px;
  margin-top: 10px;
  display: flex;
  position: fixed;
  width: 100vw;
  height: -webkit-fill-available;
  box-sizing: border-box;
}

section .membercrew1, .membercrew2, .membercrew3{
    box-sizing: border-box;
    background-color: #0000000f;
    width: 350px;
    height: 500px;
    margin: auto;
    inset: 0;
    display: block;
    position: relative;
    border: solid #fff 1px;
    text-align: center;
    bottom: 5px;
    overflow: hidden;
}
section .membercrew3{
  background-image: url(/images/gojo\ san.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
section .membercrew2{
  background-image: url("/images/baby.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}
section .membercrew1 {
  background-image: url(/images/chonoki.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
section .membercrew1 .role, .membercrew2 .role, .membercrew3 .role{
  height: 500px;
  margin-top: 10px;
  font-size: 1.1em;
  position: absolute;
  width: 350px;
  top: 530px;
  color: #000;
  text-shadow: 1px 1px 1px tomato;
}
section .membercrew1 .crew-name, section .membercrew2 .crew-name, section .membercrew3 .crew-name{
  height: 500px;
  top: 500px;
  width: 350px;
  position: absolute;
  color: tomato;
  text-shadow: 0 0 3px #000;
  font-family: 'Courier New', Courier, monospace;
  transition: 0.75s;
}
section .membercrew1 .crew-name:hover, section .membercrew2 .crew-name:hover, section .membercrew3 .crew-name:hover{
  transition: 0.75s;
  cursor: pointer;
  overflow: visible;
  border-radius: 5px;
  width: 348px;
  height: 25px;
}
section .membercrew3:hover{
  transition: 0.75s;
  height: 600px;
  cursor: pointer;
  overflow: visible;
  border-radius: 5px;
  border-top: solid 3px #00a2d4;
}
section .membercrew2:hover{
  transition: 0.75s;
  height: 600px;
  cursor: pointer;
  overflow: visible;
  border-radius: 5px;
  border-top: solid 3px #d40e00;
}
section .membercrew1:hover{
  transition: 0.75s;
  height: 600px;
  cursor: pointer;
  overflow: visible;
  border-radius: 5px;
  border-top: solid 3px #000;
}
footer{
  background-color: white;
  font-weight: bold;
  border-top: solid 1px #9E9E9E;
  width: 100vw;
  height: 2.5em;
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  color: #000;
  justify-content: center;
  align-items: center;
}
::-webkit-scrollbar {
  width: 7px;
  height: 8px;
  background-color: #aaa;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(45deg, black, transparent);
  border-radius: 5px;
}
::-webkit-scrollbar-track{
  background-color: #ffffff;
  border-radius: 5px;
}
::-webkit-scrollbar-button{
  background-color: #ffffff;
}
@media only screen and (max-width: 1100px) {
  .section{
    background-color: inherit;
    display: grid;
    vertical-align: middle;
    height: 50px;
    position: absolute;
    margin-top: 55px;
  }
  body{
    background-repeat: repeat-y;
    width: 100vw;
  }
  section .membercrew1, section .membercrew2, section .membercrew3{
    margin-bottom: 5px;
  }
  ::-webkit-scrollbar {
    width: 7px;
    height: 8px;
    background-color: #aaa;
  }
  ::-webkit-scrollbar-thumb{
    background: linear-gradient(45deg, black, transparent);
    border-radius: 5px;
  }
  ::-webkit-scrollbar-track{
    background-color: #ffffff;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-button{
    background-color: #ffffff;
  }
  nav{
    align-content: stretch;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
    position: relative;
  }
}