*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  padding: 10px;
  height: 100vh;
  width: 100vw;
  background-image: url("https://images3.alphacoders.com/132/1322308.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Bruno Ace SC', cursive;
  font-family: 'Varela Round', sans-serif;
}
nav{
  background-color: rgb(255 255 255);
  display: flex;
  align-items: initial;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: black solid 2px;
  z-index: 100;
  padding-top: 2px;
}
.logo{
  color: #fff;
  font-size: 2em;
  font-family: fantasy;
}
.logo a{
  text-decoration: none;
  color: #9E9E9E;
}
span{
  color: tomato;
}
nav ul li{
  list-style: none;
  display: inline-block;
  padding: 10px;
}
nav ul li a{
  color: #000;
  text-decoration: none;
  font-weight: bold;
}
nav ul li a:hover{
  color: #ff5722;
  text-shadow: 0 1px 1px #fff;
  border-bottom: 1px #fff solid;
  padding: 3px;
  font-size: 1.1em;
  transition: 0.15s;
}
.login-button{
  background: linear-gradient(45deg, #FF5722, #FF9800);
  padding: 10px;
  box-shadow: 0 2px 5px #ff5722ed;
  border-radius: 5px;
  margin: 2px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  color: white;
  transition: 500ms;
 }
  .login-button:hover, .login-button a:hover{
    color: black;
    border-radius: 5px;
    background: linear-gradient(45deg, #FF9800, #FF5722);
    text-shadow: 1px 1px 1px #fff;
 }
.projects-section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  width: 100%;
  height: 600px;
  background: #9e9e9e2e;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  margin-top: 40px;
  align-content: space-between;
}
.project_1{
    display: block;
}
  .project-cont{
  display: flex;
  position: relative;
  justify-content: end;
  margin: 10px;
}
.project-image{
  border-radius: 5px;
}
.project_1:hover .project-title{
  opacity: 1;
  filter: drop-shadow(2px 4px 6px #000);
}
.project-title{
  display: block;
  position: absolute;
  font-family: cursive;
  color: #Fff;
  font-size: 25px;
  text-shadow: 1px 1px 2px #000;
  font-weight: bold;
  width: 225px;
  height: 320px;
  border-radius: 5px;
  padding: 3px;
  bottom: 0;
  background-color: rgb(158 158 158 / 33%);
  opacity: 0;
  transition: 350ms;
}
footer{
  background-color: white;
  font-weight: bold;
  border-top: solid 1px #9E9E9E;
  width: 100vw;
  height: 2.5em;
  left: 0;
  right: 0;
  display: flex;
  position: fixed;
  bottom: 0;
  color: #000;
  justify-content: center;
  align-items: center;
  }
::-webkit-scrollbar {
  width: 7px;
  height: 8px;
  background-color: #aaa;
 }
::-webkit-scrollbar-thumb{
  background: linear-gradient(45deg, black, transparent);
  border-radius: 5px;
  }
  ::-webkit-scrollbar-track{
    background-color: #ffffff;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-button{
    background-color: #ffffff;
  }

@media only screen and (max-width: 1100px) {
  body{
    width: 100vw;
  }
}

